{% load static %}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/homework1.css' %}">
	<title> Домашнее задание 2</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 	
</head>
<body>
	<h2>Домашнее задание 2 </h2>
	<div id="main_block">
			<div id="white_hor_line"></div>	
			<div id="white_ver_line"></div>	
			<div id="blue_hor_line"></div>
			<div id="blue_ver_line"></div>
	</div>
</body>
</html>
